body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#aba9a9;
    color: #333;
  }
  
  .weather-app {
    text-align: center;
    background: #eeebeb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
  }
  
  input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background: #353333;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #7c7d7d;
  }
  
  #weather-display {
    margin-top: 20px;
  }
  
  @media (max-width: 600px) {
    .weather-app {
      width: 90%;
    }
  }